#geral{
    width:1000px;
    margin:10px auto;
    font:15px verdana;
}
#topo{
    width:980px;
    height:100px;
    float:left;
    padding:10px;
    background-color: aquamarine;
}
#principal{
    width:970px;
    padding:15px;
    float:left;
    background-color: aquamarine;
}
